body, html {
    height: 100%;
    margin: 0;
}

.h-100 {
    height: 100% !important;
}

main {
    height: 100%;
}

.survey-col-one {
    width: 30%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../images/survey/build.png);
    /* background-color: #18776F; */
    padding: 90px 70px;
    background-position: center;
}

.survey-col-two {
    padding: 25px 0px;
    background-color: #F8F8F8;
    width: 70%;
    padding-left: 50px;
}

.home {
    background: url(../images/survey/home.svg);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-size: 17px;
    background-position: left;
}

.survey-nav li a {
    color: #084D47;
    font-family: 'Muli-Regular';
}

.survey-content {
    padding: 40px 0px;
}

.survey-col-two h3 {
    color: #000000;
    font-family: 'Muli-Regular';
}

p {
    color: #000000;
    font-family: 'Muli-Regular';
}

.survey-slide-one p {
    margin-top: 30px;
}

@media screen and (min-width:991px) {
    .survey-slide-one p {
        width: 60%;
    }
}

.health-choice {
    border: 1px solid #D2D2D2;
    background-color: #fff;
    padding: 25px 40px;
    cursor: pointer;
    position: relative;
}

.health-choice-content {
    padding-top: 14px;
    text-align: center;
}

.health-choice-content h6 {
    font-size: 19px;
    color: #000000;
    margin-bottom: 10px;
    font-family: 'Muli-Regular';
}

.health-choice-content h5 {
    text-transform: uppercase;
    color: #7F7F7F;
    font-size: 25px;
    font-family: 'Muli-SemiBold';
}

.health-choice img {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.active-choice {
    border: 3px solid #084D47;
    position: relative;
}

.check {
    background-color: #084D47;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    border-bottom-left-radius: 29px;
}

.check img {
    width: 15px;
    position: relative;
    top: -3px;
    left: 4px;
}

.active-choice h5 {
    font-family: 'Muli-Bold';
    color: #010101;
    text-transform: inherit;
}

.next--slide {
    margin-top: 70px;
}

.next--slide .btn-survey {
    background-color: #084D47;
    color: #fff;
    padding: 8px 25px;
    border-radius: 0px;
}

.next--slide .btn-survey:focus {
    outline: 0em;
    box-shadow: none;
}

.next--slide .btn-survey i {
    padding-left: 16px;
}

.survey-head h1 {
    color: #fff;
    font-family: 'Muli-Bold';
    font-size: 32px;
}

.survey-head span {
    float: right;
}

.edit {
    background: url('../images/survey/edit-pencil.svg');
    padding-left: 20px;
    background-repeat: no-repeat;
    color: #CBCBCB;
    text-transform: uppercase;
    font-family: 'Muli-Bold';
    font-size: 16px;
    float: right;
    background-position: left;
    cursor: pointer;
}

.survey--sub--head {
    margin: 55px 0px 20px;
}

.survey--sub--head h4 {
    color: #fff;
    font-size: 21px;
    font-family: 'Muli-Regular';
}

.change-survery {
    background-color: #fff;
    padding: 15px 20px;
    margin-top: 45px;
}

.change-survery p {
    margin-bottom: 0px;
    font-size: 16px;
    color: #707070;
}

.change-survery hr {
    margin: 8px 0px;
    border-bottom: 1px solid #000;
}

.change-survery h5 {
    margin-bottom: 0px;
    font-size: 19x;
    font-family: 'Muli-Regular';
    color: #000000;
}

.survey--sub--head h4 span {
    font-family: 'Muli-Bold';
}

.survey--xtra--text {
    margin-top: 30px;
}

.survey--xtra--text h3 {
    font-size: 28px;
    font-family: 'Muli-Regular';
    color: #fff;
}

.survey--xtra--text p {
    font-size: 18px;
    font-family: 'Muli-Regular';
    color: #fff;
    margin: 15px 0px;
}

.btn-survey p {
    color: #F4BB43;
    font-size: 28px;
    line-height: initial;
}

.btn-survey {
    margin-top: 59px;
}

.questions--section {
    background-color: #fff;
    padding: 30px 30px 90px;
}

.questions--section h5 span {
    float: right;
    width: 25px;
    height: 25px;
    border: 1px solid #D2D2D2;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
}

.questions--section h5 span label {
    align-self: center;
    font-size: 16px;
    margin-bottom: 0px;
}

.questions--section hr {
    border-bottom: 1px solid #000;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: attr(title);
    margin: -82px auto 0;
    font-size: 16px;
    padding: 13px;
    width: 220px;
}

.tooltip:hover:before {
    border: solid;
    border-color: #444 transparent;
    border-width: 12px 6px 0 6px;
    content: "";
    left: 45%;
    bottom: 30px;
    position: absolute;
}

.dash {
    content: '';
    width: 14px;
    height: 14px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #084D47 0% 0% no-repeat padding-box;
    opacity: 1;
    display: inline-block;
}

.ques-text {
    color: #000000;
    font-size: 18px;
    padding-left: 25px;
    font-family: 'Muli-SemiBold';
}

.quest__wrapper {
    display: inline-block;
    float: left;
    margin: 4px 10px 5px 0;
}

.quest__wrapper span.checkmark {
    padding: 6px 12px;
    color: #1c3997;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    min-height: 41px;
    width: 100%;
    display: block;
    min-width: 93px;
    text-align: center;
}

.quest__wrapper .checkmark {
    border: 1px solid #D2D2D2;
    font-family: 'Muli-Bold';
    font-size: 14px;
}

.quest__wrapper .radio-btn input[type="radio"] {
    opacity: 0;
    width: 0;
    position: absolute;
}

.quest__wrapper .radio-btn input:checked~.checkmark {
    border: 2px solid #000000;
    color: #1c3997;
}

.progress-bar {
    background-color: #084D47;
}

.progress {
    height: 35px;
    border-radius: 16px;
    background-color: #D2D2D2;
}

.progress-sec {
    margin-top: 100px;
}

.progress-sec p {
    color: #000000;
    font-size: 14px;
    font-family: 'Muli-SemiBold';
}

.questions--section {
    margin-top: 40px;
}

.ques--sta {
    margin-top: 15px;
    color: #7F7F7F;
    font-family: 'Muli-Bold';
    font-size: 18px;
}

.ques--sta span {
    color: #000000;
}

/* Survey Forms */

.form-control {
    border: 1px solid #D2D2D2;
    border-radius: 0px;
    height: 50px;
}

.form-control:focus {
    border: 1px solid #084D47;
    outline: 0em;
    box-shadow: none;
}

.btn--survey--one {
    background: #084D47;
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    font-family: 'Muli-Bold';
    padding: 10px 40px;
}

.btn--survey--one:focus {
    outline: 0;
    box-shadow: none;
}

.btn--survey--one i {
    padding-left: 15px;
}

.survey--wrapper--three .questions--section {
    padding-bottom: 30px;
}

.questions--section h5 {
    color: #000000;
    font-size: 14px;
    font-family: 'Muli-SemiBold';
    text-transform: uppercase;
}

.form-check {
    margin-bottom: 15px;
    padding-left: 0px;
}

.other-col {
    display: none;
}

.survey--block2 .form-row .col-12 {
    align-self: center;
}

.form-check label {
    font-size: 18px;
    color: #000000;
    font-family: 'Muli-Regular';
}

.form-check [type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-check [type="radio"]:checked+label, .form-check [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.form-check [type="radio"]:checked+label:before, .form-check [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #fff;
    border: 2px solid #BFBFBF;
}

.form-check [type="radio"]:checked+label:before {
    border: 2px solid #084D47;
}

.form-check [type="radio"]:checked+label:after, .form-check [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 9px;
    height: 9px;
    background: #084D47;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-check [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-check [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.result-block {
    min-height: 250px;
    display: flex;
    align-self: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.thank--inner {
    align-self: center;
    color: #fff;
    text-align: center;
}

.thank--inner p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 0px;
}

.thank--inner h4 {
    color: #fff;
    margin-bottom: 0px;
    font-family: 'Muli-Bold';
}

#social-media {
    align-self: center;
    text-align: center;
    cursor: pointer;
}

.survey-thank .questions--section {
    padding: 15px 0px 15px;
}

.share--wrapper p {
    margin-bottom: 0px;
}

.share--wrapper {
    border: 1px solid #084D47;
    padding: 10px;
}

.share--wrapper p {
    color: #084D47;
    font-size: 18px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: 'Muli-Bold';
}

.share--wrapper p img {
    padding-right: 10px;
}

.more--wrapper {
    text-align: left;
    position: absolute;
    z-index: 1;
    background-color: #fff;
}

.more--wrapper ul li .fb {
    background: url('../images/survey/faceb.svg');
}

.more--wrapper ul li .link {
    background: url('../images/survey/faceb.svg');
}

.more--wrapper ul li .inst {
    background: url('../images/survey/insta.png');
}

.more--wrapper ul li span {
    padding: 0px 13px;
    background-repeat: no-repeat !important;
    background-position: left !important;
}

.more--wrapper {
    display: none;
}

.thank--msg h3 {
    font-family: 'Muli-Bold';
    color: #000000;
    font-size: 3;
}

.survey-thank-two .questions--section {
    padding-bottom: 30px;
}

@media screen and (min-width: 1601px) {
    h3 {
        font-size: 37px;
    }
    p {
        font-size: 18px;
    }
    h1 {
        font-size: 50px !important;
    }
}

input[type="radio"] {
    display: none;
}

.health-choice label {
    display: inherit;
}

label:after {
    background-color: #084D47;
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px;
    border-bottom-left-radius: 29px;
    background-repeat: no-repeat;
    background-position: 13px 10px;
    background-size: 15px;
}

label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked+label:after {
    content: "";
    background-image: url('../images/survey/checkmark.svg');
    transform: scale(1);
}


.modal-content {
    border-radius: 0px;

}
.modal-body {
    padding: 30px;
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 56%;
    margin: 1.75rem auto;
}
}
