
@font-face {
  font-family: 'Muli-SemiBold';
  src: url('Muli-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Muli-SemiBold.woff') format('woff'), url('Muli-SemiBold.ttf')  format('truetype'), url('Muli-SemiBold.svg#Muli-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
